body {
    margin: 0;
}


/*Componentes da Tela*/

nav.topo {
    background-color: rgb(0, 0, 0);
    height: 500px;
    width: 100%;
    position: absolute;
    display: block;
}

.img {
    opacity: 30%;
    height: 500px;
    width: 100%;
}

nav.topo ul {
    list-style: none;
    position: absolute;
    text-align: right;
    top: 10px;
    right: 100px;
}

nav.topo li {
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

nav.topo a {
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.imgi {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 40%;
    top: 130px;
    border-style: inset;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    border-radius: 100px;
}


/*Componentes da Class .sobre*/

.sobre {
    height: 450px;
    width: 100%;
    top: 520px;
    position: absolute;
}

.imgf {
    width: 55px;
    height: 55px;
    top: 60px;
    left: 130px;
    position: absolute;
}

.imge {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 10%;
    top: 140px;
}

.info {
    color: rgb(41, 41, 41);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 33px;
    left: 500px;
    top: 120px;
    position: absolute;
}


/*Componentes da Class .conteudo*/

.conteudo {
    height: 450px;
    width: 100%;
    top: 980px;
    position: absolute;
}

.imgc {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 65%;
    top: 140px;
}

.cont {
    color: rgb(41, 41, 41);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 33px;
    left: 10%;
    top: 120px;
    position: absolute;
}


/*Componentes da Class .conteudo*/

.fim {
    height: 200px;
    width: 100%;
    top: 1520px;
    position: absolute;
    background-color: black;
    opacity: 90%;
}


/*Itens da Tela*/

.nome {
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    text-align: left;
    left: 36%;
    top: 320px;
    position: absolute;
}

.titulo {
    color: rgb(50, 50, 50);
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 40px;
    left: 180px;
    top: 30px;
    position: absolute;
}


/*Respansividade*/

@media(max-width: 1080px) {
    .info {
        left: 450px;
    }
    .cont {
        right: 450px;
    }
    .imgc {
        left: 580px;
    }
    nav.topo ul {
        right: 80px;
    }
    .conteudo {
        top: 1020px;
    }
    .fim {
        margin-top: 70px;
        bottom: 0%;
        height: 400px;
    }
}